@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    padding: 1rem;
}

#button1 {
    display: flex;

    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 0;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;

}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

#div1 {
  display: flex;
  flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 600px;
    width: 400px;
    background-color: #93c5fd;
    justify-content: center;
}

#div2 {
  display: flex;
  flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 400px;
    width: 350px;
    background-color: #93c5fd;
    justify-content: center;

}



input{
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  height: 30px;
  width: 25vh;
  border: 1px solid blue;
}

#nav{
  width: 100%;
  padding: 1rem;
  display: flex;

  background-color: red;
}